@import "./components/Basket/Basket.css";
@import "./components/Header/Header.css";
@import "./components/Restaurant/Restaurant.css";
@import "./components/RestaurantImg/RestaurantImg.css";
@import "./components/MenuNav/MenuNav.css";
@import "./components/Menu/Menu.css";
@import "./components/DishArticle/DishArticle.css";
@import "./components/Category/Category.css";

html {
  --color-deliveroo: #00ccbb;
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 19px;
  color: #666666;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

h2 {
  font-size: 28px;
  line-height: 28px;
  color: #303636;
  font-weight: bold;
  margin-bottom: 15px;
}
